input {
    border: none;
    background: $color-light;
    font-size: 4em;
    color: $color-dark;
    text-align: center;
    padding: 16px;
}

input::-webkit-input-placeholder {
    color: fade-out($color-dark, 0.7);
}

button {
    border: none;
    -webkit-appearance: none;
    font-size: 3em;
    padding: 16px;
    @include light-scheme;
    cursor: pointer;

    &:hover {
        @include gray-scheme;
    }
}

input, button {
    outline: none;
}

form {
    @include flex-vertical;
    margin: 0;
}